@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 bg-bg text-white;
}

#root {
  @apply flex justify-center mx-2 md:mx-6;
}

tr:first-child td:first-child {
  border-top-left-radius: 6px;
}
tr:first-child td:last-child {
  border-top-right-radius: 6px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

tr td {
  @apply bg-white;
}

tr {
  @apply text-[#464646];
}
