@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 bg-[linear-gradient(180deg,_#E31F26_30.09%,_#F68B1F_100%)] md:bg-bg text-white min-h-screen;
}

#root {
  @apply flex justify-center mx-2 md:mx-6;
}

tr:first-child td:first-child {
  border-top-left-radius: 6px !important;
}
tr:first-child td:last-child {
  border-top-right-radius: 6px !important;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 6px !important;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 6px !important;
}

tr td {
  @apply bg-white;
}

tr {
  @apply text-[#464646];
}
